---
import Layout from '../layouts/Layout.astro';
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import CodeIcon from "../components/icons/Code.astro"
import Carrousel from "../components/Projects.astro";
import P_horizontal from "../components/Projects_horizontal.astro";
import P_vertical from '../components/Projects_vertical.astro';
import P_verticalv2 from '../components/Projects_vertical_v2.astro';
import P_verticalv3 from '../components/Projects_vertical_v3.astro';
//import P_verticalv3 from '../components/Testeo.astro';
//borrar todo menos proyects y crear el slider vertical primero crer este y 
// luego crear copiando el original para adaptarlo en movil y que sea solo uno
---

<Layout title="Carrousel"
	description=''
>
	<main class="w-full ">
			<div class="px-4 space-y-24 pt-48 max-lg:pt-40 max-lg:pb-40">
			  <SectionContainer id="proyectos">
				<TitleSection>
				  <CodeIcon class="size-7" />
				  CARROUSEL HORIZONTAL
				</TitleSection>
				<hr class="mb-16">
				<P_horizontal/>
			  </SectionContainer>
			  
	

          <SectionContainer id="proyectos">
                <TitleSection>
                    <CodeIcon class="size-7" />
                    CARROUSEL VERTICAL V1
                </TitleSection>
                <hr class="mb-16">
				<P_vertical/>
            </SectionContainer>
		
			<SectionContainer id="proyectos">
                <TitleSection>
                    <CodeIcon class="size-7" />
                    CARROUSEL VERTICAL V2
                </TitleSection>
                <hr class="mb-16">
				<P_verticalv2/>
            </SectionContainer>
	
			<SectionContainer id="proyectos">
                <TitleSection>
                    <CodeIcon class="size-7" />
                    CARROUSEL VERTICAL V3
                </TitleSection>
                <hr class="mb-16">
				<P_verticalv3/>
            </SectionContainer>
			<!-- <SectionContainer id="proyectos">
			  <TitleSection>
				<CodeIcon class="size-7" />
				Proyectos
			  </TitleSection>
			  <Projects />
			</SectionContainer> -->
		
		</div>
	
	</main>
</Layout>


