---
import Layout from '../layouts/Layout.astro';
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import CodeIcon from "../components/icons/Code.astro"
import Carrousel from "../components/Carrousel.astro";
import Carrousel1 from '../components/Projects_vertical.astro';

//borrar todo menos proyects y crear el slider vertical primero crer este y 
// luego crear copiando el original para adaptarlo en movil y que sea solo uno
---

<Layout title="Porfolio de sergio - Desarrollador y Programador Web con 5 años de experiencia"
	description='fdfd'
>
	<main class="w-full ">
			<div class="px-4 space-y-24 pt-64 max-lg:pt-60 max-lg:pb-40">
			  <SectionContainer id="proyectos">
				<TitleSection>
				  <CodeIcon class="size-7" />
				  CARROUSEL HORIZONTAL
				</TitleSection>
				<hr class="mb-16">
				<Carrousel/>
			  </SectionContainer>
			  
			  <SectionContainer id="proyectos">
				<TitleSection>
				  <CodeIcon class="size-7" />
				  CARROUSEL VERTICAL
				</TitleSection>
				<hr class="mb-16">
				<Carrousel1/>
			  </SectionContainer>
			  
			  <SectionContainer id="proyectos">
				<TitleSection>
				  <CodeIcon class="size-7" />
				  CARROUSEL HORIZONTAL A VERTICAL
				</TitleSection>
				<hr class="mb-16">
				<Carrousel/>
			  </SectionContainer>
			  
			  <SectionContainer id="proyectos">
				<TitleSection>
				  <CodeIcon class="size-7" />
				  CARROUSEL VERTICAL A HORIZONTAL
				</TitleSection>
				<hr class="mb-16">
				<Carrousel/>
			  </SectionContainer>

			<!-- <SectionContainer id="proyectos">
			  <TitleSection>
				<CodeIcon class="size-7" />
				Proyectos
			  </TitleSection>
			  <Projects />
			</SectionContainer> -->
		
		</div>
	
	</main>
</Layout>


