---
 import Me from "../components/icons/Me.astro";
 import Github from  "../components/icons/GH.astro";
 import SocialPill from '../components/SocialPill.astro';
import YoutubeIcon from "../components/icons/Youtube.astro";

---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 max-w-3xl dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Sergio pero en la comunidad me conocen como Ares. Empecé en la
      programación con el típico ordenador cubierto de polvo que había por casa, tenía 10 años. Actualmente estoy <strong>
        liderando equipos de desarrollo en multinacionales</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar con Mozilla para el desarrollo de las primeras apps en su
        sistema FirefoxOS</strong
      >. Aunque hoy está desaparecido fue un gran avance en el mundo del
      desarrollo web.
    </p>

    <p>
      Como creador de contenido, <strong
        >cuento con el canal de habla hispana más visto del mundo en la
        categoría de <em class="italic">Software & Game Development</em> en Twitch</strong
      >. Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el
      acceso a contenido de calidad.
    </p><nav class="flex justify-center items-center gap-4 mt-8 flex-wrap">

      <SocialPill href="">
        <YoutubeIcon class="w-6 h-6"/>
        Youtube
      </SocialPill>
      <SocialPill href="">
        <Github class="w-6 h-6"/>
        GitHub
      </SocialPill>
    </nav>
  </div>

  <Me/>
  
</article>